.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure the container covers the entire width */
}

.upload-btn {
    margin-bottom: 20px;
}

.avatargallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Make sure the grid covers the entire width */
    max-width: 1200px; /* Limit the maximum width to prevent excessive stretching */
    padding: 0 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    margin-top: 20px; /* Add margin for spacing */
}

.avatar-inner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.avatar-svg {
    width: 100%;
    height: auto;
}

.avatar-all-content {
    flex: 1;
    max-width: 48%; /* Adjust as needed */
    margin-bottom: 40px; /* Add margin between avatar items */
}

.avatar-text-field {
    display: block;
    position: relative;
}

.table-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 500px;
    width: 500px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    .avatargallery {
        flex-direction: column; /* Stack items vertically on small screens */
    }
    
    .avatar-all-content {
        max-width: 100%; /* Take full width on small screens */
    }
}
