


h8 {
  margin-left: 25px;
  color: blue;
}
h3 {
  color: black;
}


@media screen {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
/*
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
*/
@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    padding: 0px;
  }
  .csv-inner {
    width: 450px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
  }
}
.progressWrapper .progress{
  height: 20px;
  margin-bottom: 20px;
}

.progressWrapper .progress-bar{
  animation: progressWrapper progress-bar 5s linear forwards;
}


@keyframes progress-bar{
  from { width: 0%; }
  to { width: var(--to-width); }
}

.p_title{
  color: rgb(0, 174, 255);
  text-align: center;
}
.p_text{
  font-size: 14px;
  color: black;
}
.span_question{
  font-size: 30px;
}
.weiter{
  text-align: right;
  margin-top: 10px;
}
.weiterButton{
  text-align: center;
  height: 60px;
  width: 100px;
  background-color: #2c3e50;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
.bg-primary-survey{
  color: white;
  background-color: #2c3e50;
}
.ls-col-even{
  width: 7%;
}
.ls-col-odd {
  width: 7%;
}
.col-answers{
  width: 35%;
}
.question-container{
  border:1px solid #2c3e50;
}
.question-title-container{
  padding-bottom: 1em;
}
.answer-container{
  margin-top: 5px;
}
.ls-answers{
  border:1px solid #2c3e50;
}
.radio-item label::before {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  content: " ";
}
.radio-item label::after {
  background-color: #2c3e50;
  content: " ";
}
sup {
  top: 0.5em;
}
.question-text{
  padding-left: 10px;
}
.ls-label-xs-visibility{
  display: none;
}
.timerdiv{
  text-align: center;
}
.timerspan{
  font-size: 400px;
}
.questiontimerdiv{
  text-align: right;
}
.questiontimerspan{
  font-size: 40px;
}
.questionwithtimerspan{
  font-size: 40px;
}
.questionwithtimer{
  text-align: center;
}
.survey-video-container{
  text-align: center;
}