input[type="file"] {
  display: none;
}

input[type="text"] {
  width: 300px;
  height: 30px;
}

.select-file {
  background-color: #0d6efd;
  color: white;
  font-weight: lighter;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 2px;
}

/* Sidebar*/
/* The side navigation menu */
.nav {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: white;
  /* position: fixed;*/
  height: 200px;
  overflow: auto;
  align-items: center;
}
.navlist {
  height: auto;
  padding: 0;
  width: 100%;
}

.navlist .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navlist .row:hover {
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
}

.table-header {
  background-color: #0d6efd;
  color: white;
  border: 1px solid black;
}

.table-data {
  border: 1px solid black;
}

.top-section {
  display: flex;
  justify-content: center;
  background-color: gray;
  padding: 20;
  border-bottom: 1px solid grey;
  width: 300px;
}
.top-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  height: 50%;
}

.player-container {
  width: 300px;
}

.content-section {
  width: 300px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  margin-bottom: 12;
}

#video-title {
  font-size: large;
  font-weight: lighter;
  margin-top: 10;
  margin-bottom: 20;
  padding-top: 20px;
  padding-bottom: 30;
  color: black;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0.8rem;
  margin: 10px;
}
.gallery .video {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 0px;
  
}
.gallery .video:hover {
  transform: scale(0.98);
}
@media screen {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.video-container {
  
  overflow: hidden;
}
