.profile-name{
    background-color:#1c8ef9;
    color: white;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 200px;
    margin-left: 0;
    margin-right: 10px;
    border-radius: 5px;
}

.list-one{

margin-right: 30px;
padding-left: 0;


}
.list-two{
    margin-right: 30px;
    padding-left: 0;
}

.list-three{

}

.information-content{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ### collapsible ### */
.collapsible {
    background-color: white;
    color: black;
    font-size: x-large;
    cursor: pointer;
    width: 200px;
    overflow-y: auto; /*TODO*/
    overflow-x: auto; /*TODO*/
  }
  
  .collapcontent {
    padding: 0.3rem;
    background-color: white;
    font-size: medium; 
    /*transition: max-height 0.2s ease-out;  TODO */
  }
  .collapsible li label {
    color: black;
    font-weight: lighter;
    font-size: small; 
  }

  .collapsible ul {
    padding-left: 0;
    
  }

  
  .collapsible button {
    /* background-color: white;
    color: black;
    border: none; */
  }

.collapsbutton{
    background-color: white;
    color: black;
    border: none; 
}

  .collapsible button:hover {
    background-color: #ccc;
    cursor: pointer; 
  }
  
  .collapsible .content-parent {
   height: 0px;
   overflow: hidden;
   /* transition: height ease 0.4s; */ 
   overflow-y: auto; /*TODO*/
   overflow-x: auto; /*TODO*/
  }
  
  /* ### collapsible end ### */

  #collaps-beside {
    display: -webkit-flex;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0%;
  } 
  @media only screen and (max-width: 600px) {
    #collaps-beside{
      display: block;
    }
    
  }