.scrolling-content {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    padding: 50px;
    text-align: center;
}

.section-text {
    margin: 50px 0;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    .section-text {
        margin: 30px 0;
        padding: 30px;
    }
}
