.container {
    display: flex;
    flex-direction: column;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .section-header {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .section-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .avatar-all-content {
    display: flex;
    flex-direction: column;
    flex: 3; /* More space for the table */
  }
  
  .table-container {
    margin-top: 10px;
    flex: 1;
  }
  
  /* Desktop view */
  @media (min-width: 768px) {
    .section {
      flex-direction: column;
      align-items: center;
    }
  
    .section-body {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  
    .legend {
      order: 1;
      margin-left: 20px;
      flex: 1; /* Less space for the legend */
    }
  
    .avatar-all-content {
      flex: 3; /* More space for the table */
      display: flex;
      flex-direction: column;
    }
  
    .table-container {
        order:0;
      flex: 1;
      margin-top: 0;
    }
  }
  