.red-light {
    background-color: #f15d47;
}


.green-light {
    background-color: #9ec261;
}


.yellow-light {
    background-color: #fae19d;
}

.grey-light {
    background-color: #D3D3D3;
}

.white-light {
    background-color: #D3D3D3;
}

.blue-light {
    background-color: #3725f3;
}



