
.red-light {
    background-color: #c86658; /* A light red */
}


.green-light {
    background-color: #9ec261; /* A light green */
}


.yellow-light {
    background-color: #fae19d; /* A light green */
}


