

.select-file {
  background-color: #0d6efd;
  color: white;
  font-weight: lighter;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 2px;
}
h1 {
  margin-left: 25px;
  color: gray;
}
h3 {
  color: gray;
}

/* Sidebar*/
/* The side navigation menu */
.nav {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: white;
  /* position: fixed;*/
  height: 200px;
  overflow: auto;
  align-items: center;
}
.navlist {
  height: auto;
  padding: 0;
  width: 100%;
}

.navlist .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navlist .row:hover {
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
}

.table-header {
  background-color: #0d6efd;
  color: white;
  border: 1px solid black;
}

.table-data {
  border: 1px solid black;
}

.top-section {
  display: flex;
  justify-content: center;
  background-color: gray;
  padding: 20;
  border-bottom: 1px solid grey;
  width: 300px;
}
.top-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  height: 50%;
}

.avatar-content-section {
  width: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:rgb(235, 235, 235);
  margin-bottom: 40px;
}

#avatar-title {
  font-size: large;
  font-weight: lighter;
  margin-top: 10;
  margin-bottom: 20;
  padding-top: 20px;
  padding-bottom: 30;
  color: black;
}

.avatargallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0.8rem;
  margin: 10px;
  background-color:rgb(235, 235, 235);
  column-gap: 320px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}
.avatargallery .video {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 0px;

}



@media screen {
  .avatargallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
/*
@media (max-width: 991px) {
  .avatargallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
*/
@media (max-width: 480px) {
  .avatargallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    padding: 0px;
  }
  .csv-inner {
    width: 400px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
  }
  .avatar-icon{
    display: none !important;
  }
  .avatar-inner{
    display: none;
  }
  .avatar-content-section{
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
.avatar-text-field{
  background-color: white;
  border-radius: 30px;
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
  word-wrap:break-word;
}

.avatar-center .progress-bar{
  animation: progress-bar 5s linear forwards;
  border-radius: 30px;
}
.avatar-center .progress{
  border-radius: 30px;
  background-color: black;
  height: 30px;
  float: left;
  margin-right: 5%;
}

@keyframes progress-bar{
  from { width: 0%; }
  to { width: var(--to-width); }
}

.avatar-red{
  margin-left: 10px;
  margin-top: 7px;
  color: white;
  overflow: auto;
}
.avatar-red{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.avatar-red::-webkit-scrollbar{
  display: none;
}
.avatar-center{
  margin-left: 20px;
  margin-top: 10px;
}
.avatar-all-content{
  padding-left: 10px;
  break-inside: avoid;
  position: relative;
}

.avatar-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 230px;
  padding-bottom: 230px;
  height: 100%;
}

#circle {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: gray;
  transform: scaleZ(-2);
  background: url(./runner.png) no-repeat center center fixed;
  background-size: 80px;
  background-color: rgb(218, 210, 210);
  transform: rotateY(180deg);
}
.avatar-line-container{
  position: absolute;
}
.avatar-inner{
  position: relative; 
  height: auto;
}

.avatar-svg{
  z-index: -1;
}